<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyim.common.mapper.SensitiveWordMapper">

    <resultMap id="swMap" type="com.happyim.common.model.entity.SensitiveWord">
        <id property="id" column="id"/>
        <result property="word" column="word"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <select id="findAll" resultMap="swMap">
        SELECT * FROM sensitive_word ORDER BY id
    </select>

    <select id="findAllWords" resultType="string">
        SELECT word FROM sensitive_word ORDER BY id
    </select>

    <select id="findByWord" resultMap="swMap">
        SELECT * FROM sensitive_word WHERE word = #{word}
    </select>

    <insert id="insert">
        INSERT INTO sensitive_word (word) VALUES (#{word})
    </insert>

    <delete id="deleteById">
        DELETE FROM sensitive_word WHERE id = #{id}
    </delete>

</mapper>
