<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyim.common.mapper.SystemAnnouncementMapper">

    <resultMap id="annMap" type="com.happyim.common.model.entity.SystemAnnouncement">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO system_announcement (content, created_by) VALUES (#{content}, #{createdBy})
    </insert>

    <select id="findAll" resultMap="annMap">
        SELECT * FROM system_announcement ORDER BY id DESC LIMIT 50
    </select>

    <delete id="deleteById">
        DELETE FROM system_announcement WHERE id = #{id}
    </delete>

</mapper>
